<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="\_nlog-internal.log" >

  <!-- Variables https://github.com/nlog/NLog/wiki/Configuration-file#variables -->
  
  <variable name="basedir" value=".\logs" />
  <variable name="filepath" value="${basedir}\\${processname}_${date:format=yyyy-MM-dd_HH-mm}" />

  <variable name="lineLayout" value="${message}" />

  <!-- See https://github.com/nlog/nlog/wiki/Configuration-file for information on customizing logging rules and outputs. -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!-- Trace log -->
    <target name="trace_log"
            xsi:type="File"
            deleteOldFileOnStartup="true"
            encoding="UTF-8"
            fileName="${filepath}_trace.log"
            archiveFileName="${filepath}_bak_{###}.log"
            maxArchiveFiles="5"
            archiveEvery="Day"
            archiveAboveSize="100000"
            autoFlush="true"
            keepFileOpen="false"
            layout="${lineLayout}" />
    <!-- Debugger (console) log -->
    <target xsi:type="Debugger"
            name="debugger_log"
            layout="${lineLayout}" />
  </targets>

  <rules>
    <!-- Off Trace Debug Info Warn Error Fatal -->

    <!-- Trace log -->
    <logger name="*" minlevel="Trace" writeTo="trace_log" />
    <!-- Debugger log -->
    <logger name="*" minlevel="Trace" writeTo="debugger_log" />
  </rules>
</nlog>
